.editFriendForm {
    width: 400px;
    position: absolute;
    font-family: "Martel", sans-serif;
    font-weight: 600;
    top: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(90, 152, 226);
    border: 2px dashed black;
    border-radius: 3px;
    text-align: center;
    z-index: 1;
}

.editButtons {
    position: relative;
    height: 30px;
}

.removeFriend {
    height: 15px;
    width: 15px;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 5%;
    cursor: pointer;
}

#closeEditFriend {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 360px;
    cursor: pointer;
}

.editFriendForm label {
    font-size: 15px;
    width: 150px;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba(255, 255, 255, .5);
}

label[for=month],
label[for=day] {
    background-color: transparent;
}
.editFriendForm input {
    width: 150px;
    text-align: center;
    font-size: 15px;
    margin: 0 auto 10px auto;
}

.editFriendForm button {
    font-weight: 600;
    width: 60px;
    height: 30px;
    margin: 0 auto 10px auto;
    cursor: pointer;
    transition: .3s linear;
}

.editFriendForm button:hover {
    background-color: rgb(14, 120, 8);
    color: rgb(245, 245, 245);
}

.verifyRemove {
    text-align: center;
    background-color: rgba(231, 71, 71, .7);
    height: 70px;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.removeButtons {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.verifyRemove button {
    width: 50px;
    height: 25px;
    cursor: pointer;
    margin: 5px 0;
}

#yesButton:hover {
    background-color: rgb(163, 0, 12);
    color: rgb(245, 245, 245);
}

#noButton:hover {
    background-color: rgb(14, 120, 8);
    color: rgb(245, 245, 245);
}