
.appWrapper {
  min-height: 100vh;
  background-color: rgb(200, 216, 236);
}

header {
  text-align: center;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 10px 0;
}

.friendList {
  background-color: rgb(230, 230, 230);
  min-height: 350px;
  width: 80%;
  margin: 30px auto 0 auto;
  padding: 20px 0;
  border-radius: 5px;
}

.addFriend {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  float: right;
  margin: 15px 15px 0 0;
  cursor: pointer;
}

.searchBox {
  display: flex;
  justify-content: space-around;
  width: 260px;
  margin: 0 auto;
}

#searchIcon {
  height: 30px;
}

#findByName {
  font-size: 15px;
  font-family: 'Martel', sans-serif;
  border-radius: 3px;
}

.friends {
  padding-top: 40px;
}

@media screen and (max-width: 700px) {
  .friendList {
    width: 100%;
  }
}
