.appWrapper {
  min-height: 100vh;
  background-color: rgb(200, 216, 236);
}

header {
  text-align: center;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 10px 0;
}

.friendList {
  background-color: rgb(230, 230, 230);
  min-height: 100px;
  width: 80%;
  margin: 30px auto 0 auto;
  border-radius: 5px;
}

.addFriend {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  float: right;
  margin: 15px 15px 0 0;
  cursor: pointer;
}
