.addFriendForm {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
    font-family: "Martel", sans-serif;
    width: 598px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(41, 129, 60, 0.5);
    text-align: center;
    margin: 0 auto;
}

#closeAddFriend {
    height: 25px;
    width: 25px;
    position: relative;
    top: 10px;
    left: 550px;
    cursor: pointer;
}

.addFriendForm input {
    width: 150px;
    text-align: center;
    margin: 0 auto;
}

.addFriendForm label {
    font-size: 15px;
    font-weight: 600;
    width: 150px;
    margin: 0 auto;
}

.addFriendForm label,
.addFriendForm button {
    margin-top: 10px;
}

#birthday {
    width: 150px;
}

.addFriendForm button {
    width: 60px;
    height: 30px;
    align-self: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.addFriendForm button:hover {
    background-color: rgb(14, 120, 8);
    color: rgb(245, 245, 245);
}

@media screen and (max-width: 700px) {
    .addFriendForm {
        width: 100%;
    }

    #closeAddFriend {
        left: 90%;
    }
}