.giftWrapper {
    margin: 1em auto;
    text-align: center;
    background-color: rgb(200, 216, 236);
    border-radius: 5px;
}

#removeGift {
    font-size: 10px;
    font-weight: 900;
    color: rgb(231, 71, 71);
    border: 1px solid rgb(231, 71, 71);
    border-radius: 5px;
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 60px;
    transition: .3s linear;
}

#removeGift:hover {
    color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    background-color: rgb(231, 71, 71);
}

#giftName {
    padding-top: 10px;
}

.giftWrapper a {
    font-size: 20px;
    font-weight: 600;
}