.addGiftWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: 10px auto 0 auto;
    padding: 10px 0;
    background-color: rgba(41, 129, 60, 0.5);
    border-radius: 5px;
}

#closeAddGift {
    width: 25px;
    height: 25px;
    position: relative;
    left: 350px;
    cursor: pointer;
}

.addGiftWrapper label {
    font-weight: 600;
}

.addGiftWrapper input {
    width: 200px;
    margin: 0 auto 10px auto;
    text-align: center;
}

#price {
    width: 75px;
}

.addGiftWrapper textarea {
    width: 350px;
    margin: 0 auto;
}

.addGiftWrapper button {
    font-weight: 600;
    width: 50px;
    height: 25px;
    margin: 0 auto;
    transition: .3s linear;
    cursor: pointer;
}

.addGiftWrapper button:hover {
    background-color: rgb(14, 120, 8);
    color: rgb(245, 245, 245);
}

@media screen and (max-width: 1100px) {
    .addGiftWrapper {
        width: 100%;
    }

    #closeAddGift {
        left: 85%;
    }

    .addGiftWrapper textarea {
        width: 98%;
    }
}